.contenedor{
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-template-rows: 300px 100px 800px 50px;
    grid-template-areas: 
    'ban ban ban '
    'lin lin lin '
    'dia fod for '
    'pie pie pie'
    
    
    
    ;
}
header{
    background-color: yellow;
    grid-area: ban;
}
.aside{
    background-color: rgb(226, 134, 72);
    grid-area: lin;
    text-align: center;
}
.aside2{
    background-color: rgb(119, 189, 221);
    grid-area: dia;
    text-align: center;
}
nav{
    background-color: rgb(208, 174, 228);
    grid-area: fod;
}
section{
    background-color: rgb(236, 130, 213);
    grid-area: for;
}
footer{
    background-color: black;
    grid-area: pie;
}
.img{
    width: 1800px;
    height: 305px;
}
h1{
    color: aquamarine;
}
h2{
    color: aqua;
}
h3{
    color: blue;
}
h4{
    color: brown;
}
h5{
    color: chartreuse;
}
h6{
    color: darkgreen;
}